.apestaartje-small {
  font-size: 0.8em;
}


#linkstyle {
  text-decoration: none;
  color: white;
}


#linkstyle-italic {
  text-decoration: none;
  /* text-decoration: underline; */
  color: white;
  font-style: italic;

}


.calm-sketch-backrground {
  background-color: #343a40;
  /* background-color: red; */
  height: 80vh;
  width: 100%;
  padding: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
